@font-face {
  font-family: "Hack";
  font-weight: normal;
  src: url("../fonts/Hack-Regular.ttf");
}

* {
  font-family: "Hack";
}

body {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

p>a {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: royalblue;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

ul>li {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  padding: 1.5rem 0.5rem;
  justify-content: center;
  font-size: 24px;
}

ul>li:not(:last-child) {
  border-right: 1px solid #d1d5db
}

ul>li:hover {
  background-color: #d1d5db;
}

#coming-soon {
  margin-top: 200px;
}

#nothing-here-yet {
  margin-top: 20%;
}
