@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans-ExtraLight.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
  font-weight: bold;
}

* {
  font-family: "PlusJakartaSans";
}

.center {
  text-align: center;
}

a, a:visited {
  color: #f26447;
  text-decoration: none;
}

body {
  background-color: white;
  margin: 0;
}

img.circle {
  border-radius: 50%;
}

img.github-profile {
  content:url(https://avatars.githubusercontent.com/u/11346444)
}
