---
layout: base
---

<div class="canvas">
  <div class="header center">
    <img class="github-profile circle" alt="Profile Picture">
    <div class="profile">
      <div class="name">Aranda R. Soedjono</div>
      <div class="occupation">Software Engineer in Test - <a href="https://mapan.id/">Mapan</a></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="content center">
    <p class="welcome">{{site.title}}</p>
    <ul class="menu">
      <li><a id="blog-menu">BLOG</a></li>
      <li><a id="project-menu">PROJECTS</a></li>
      <li><a id="game-menu">GAMES</a></li>
      <li><a id="about-menu">ABOUT</a></li>
    </ul>
  </div>
</div>
