
.badge-sts2_iconvakuu {
  background-image: url('../../images/sts2/acts.png');
  background-position: -0px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_icontezcatara {
  background-image: url('../../images/sts2/acts.png');
  background-position: -90px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_icontanx {
  background-image: url('../../images/sts2/acts.png');
  background-position: -0px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_iconpael {
  background-image: url('../../images/sts2/acts.png');
  background-position: -90px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_iconorobas {
  background-image: url('../../images/sts2/acts.png');
  background-position: -180px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_iconnonupeipe {
  background-image: url('../../images/sts2/acts.png');
  background-position: -180px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_iconneow {
  background-image: url('../../images/sts2/acts.png');
  background-position: -0px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_icondarv {
  background-image: url('../../images/sts2/acts.png');
  background-position: -90px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}
