
.badge-sts2_badgewhomper {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgetinydecksilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgetinydeckgold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgetinydeckbronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeteamplayer {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgetablet {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgespeedysilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgespeedygold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgespeedybronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgerestless {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgerestful {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeperfectsilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeperfectgold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeperfectbronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgemysterymachine {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgemoneymoneysilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgemoneymoneygold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgemoneymoneybronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgekaching {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeilikeshiny {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgehoned {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgehighlander {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgehealersilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgehealergold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgehealerbronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgegluttonsilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgegluttongold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgegluttonbronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgefavoritecard {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgefamished {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeelitesilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -0px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeelitegold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -90px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeelitebronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -180px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgedoublesnecko {
  background-image: url('../../images/sts2/badges.png');
  background-position: -270px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgedebuffer {
  background-image: url('../../images/sts2/badges.png');
  background-position: -360px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgedamageleader {
  background-image: url('../../images/sts2/badges.png');
  background-position: -450px -450px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgecurses {
  background-image: url('../../images/sts2/badges.png');
  background-position: -540px -0px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgeccccombo {
  background-image: url('../../images/sts2/badges.png');
  background-position: -540px -90px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgebigdecksilver {
  background-image: url('../../images/sts2/badges.png');
  background-position: -540px -180px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgebigdeckgold {
  background-image: url('../../images/sts2/badges.png');
  background-position: -540px -270px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}

.badge-sts2_badgebigdeckbronze {
  background-image: url('../../images/sts2/badges.png');
  background-position: -540px -360px;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  display: inline-block;
}
